<h4 class="white-text center"><strong>{{'contact.title' | translate}}</strong></h4>
<p class="white-text center" [innerHTML]="'contact.rrss.text' | translate"></p>
<div class="row"></div>
<div class="center">
  <a href="https://www.facebook.com/Foro-Sociedad-Civil-COP25-Chile-403898970469633/"><i class="white-text text-darken-4 fab fa-4x fa-facebook-f"></i></a>
  <a href="https://twitter.com/forosociedadci1"><i class="white-text text-darken-4 fab fa-4x fa-twitter"></i></a>
  <a href="https://www.instagram.com/forosociedadcivilcop25/"><i
      class="white-text text-darken-4 fab fa-4x fa-instagram"></i></a>
  <a href="mailto:"><i class="white-text text-darken-4 far fa-4x fa-envelope"></i></a>
</div>
