<footer class="page-footer primary-color">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
  <div class="footer-copyright row no-margin">
    <div class="container">
      © {{year}} Copyright Text
      <a class="grey-text text-lighten-4 right">More Links</a>
    </div>
  </div>
</footer>
