img.logo{
  width: auto;
  height: 65px;
  position: inherit;
  top: -15px;
}

.brand-logo {
  line-height: 1;
  position: relative;
  top: -15px;
  transition: 200ms;
}

.nav-lang nav ul li a{
  transform: scale(0.8);
}

.brand-logo:hover{
  transform: scale(1.1);
}

.nav-lang, .nav-lang nav {
  height: 40px;
  line-height: 40px;
  box-shadow: none;
}

nav {
  box-shadow: none;
}

li.active a, nav ul a:hover, a.active {
  color: #40c4ff !important;
}

.nav-lang nav ul a:hover {
  background-color: transparent !important;
  color: #40c4ff !important;
}

nav ul a{
  transition: 200ms;
}

.navbar-fixed:not(.nav-lang){
  top: -2px;
  height: 45px;
  line-height: 45px;
}

.nav-lang{
  height: 30px;
  line-height: 30px;
}
