<div class="container">
  <div class="card-panel white">
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <div class="col s12">
          <a class="breadcrumb blue-text text-darken-4">{{ 'navbar.home' | translate }}</a>
          <a class="breadcrumb blue-text text-darken-4">{{ 'navbar.contact' | translate }}</a>
        </div>
      </div>
    </nav>
    <h4 class="blue-text text-darken-4 center">{{'contact.title' | translate}}</h4>
    <div class="row">
      <div class="col s12">
        <h5 class="blue-text text-darken-4">{{'contact.rrss.title' | translate}}</h5>
      </div>
      <div class="col m8">
        <p>{{'contact.rrss.text' | translate}}</p>
      </div>
      <div class="col m4 center">
        <a href=""><i class="blue-text text-darken-4 fab fa-4x fa-facebook-f"></i></a>
        <a href="https://twitter.com/forosociedadci1"><i class="blue-text text-darken-4 fab fa-4x fa-twitter"></i></a>
        <a href="https://www.instagram.com/forosociedadcivilcop25/"><i class="blue-text text-darken-4 fab fa-4x fa-instagram"></i></a>
        <a href="mailto:"><i class="blue-text text-darken-4 far fa-4x fa-envelope"></i></a>
      </div>
    </div>
  </div>
</div>
