<div class="container">
  <div class="card-panel white">
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <div class="col s12">
          <a class="breadcrumb blue-text text-darken-4"><strong>{{ 'navbar.home' | translate }}</strong></a>
          <a class="breadcrumb blue-text text-darken-4"><strong>{{ 'navbar.login' | translate }}</strong></a>
        </div>
      </div>
    </nav>
    <div class="row">
      <h5 class="blue-text text-darken-4"><strong>{{'accreditation.title1' | translate}}</strong></h5>
      <img src="http://ximg.es/600x400/f1f1f1/000000" class="col m4 right">
      <p [innerHTML]="'accreditation.paragraph1' | translate"></p>
    </div>
    <div class="row">
      <h5 class="blue-text text-darken-4"><strong>{{'accreditation.title2' | translate}}</strong></h5>
      <img src="http://ximg.es/600x400/f1f1f1/000000" class="col m4 right">
      <p [innerHTML]="'accreditation.paragraph2' | translate"></p>
    </div>
  </div>
</div>
