<div class="container">
  <!-- Carousel -->
  <div class="carousel carousel-slider" data-indicators="true" [materializeParams]="[{fullWidth: true}]"
    materialize="carousel" [materializeActions]="carouselActions">
    <a class="carousel-fixed-item center">
      <a routerLink="/whatIs" class="btn primary-color">{{ 'home.carousel.button' | translate}}</a>
    </a>
    <a class="carousel-item">
      <h4 class="white-text text-shadow force-right carousel-content">{{ 'home.carousel.item1' | translate}}</h4>
      <h5 class="white-text text-shadow force-right carousel-content-2">{{ 'home.carousel.text1' | translate}}</h5>
      <img src="../../../assets/imgs/climate-cold-glacier-2969.jpg">
    </a>
    <a class="carousel-item">
      <h4 class="white-text text-shadow force-left carousel-content">{{ 'home.carousel.item2' | translate}}</h4>
      <h5 class="white-text text-shadow force-left carousel-content-2">{{ 'home.carousel.text2' | translate}}</h5>
      <img src="../../../assets/imgs/air-pollution-climate-change-dawn-221012.jpg">
    </a>
    <a class="carousel-item">
      <h4 class="white-text text-shadow force-right carousel-content">{{ 'home.carousel.item3' | translate}}</h4>
      <h5 class="white-text text-shadow force-right carousel-content-2">{{ 'home.carousel.text3' | translate}}</h5>
      <img src="../../../assets/imgs/animal-blur-canidae-2408251.jpg">
    </a>
    <a class="carousel-item">
      <h4 class="white-text text-shadow force-left carousel-content">{{ 'home.carousel.item4' | translate}}</h4>
      <h5 class="white-text text-shadow force-left carousel-content-2">{{ 'home.carousel.text4' | translate}}</h5>
      <img src="../../../assets/imgs/air-pollution-blue-water-dawn-2480807.jpg">
    </a>
  </div>

  <div class="row"></div>

  <div class="row">
    <section class="col s12 m8">
      <!-- Noticias -->
      <div class="row">
        <div class="col s12">
          <h4 class="blue-text text-darken-4 left"><strong>{{ 'home.news' | translate }}</strong></h4>
          <a class="btn btn-more primary-color right">{{ 'more' | translate }}</a>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://archives.materializecss.com/0.100.2/images/office.jpg">
              <span class="card-title text-shadow">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://archives.materializecss.com/0.100.2/images/office.jpg">
              <span class="card-title text-shadow">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://archives.materializecss.com/0.100.2/images/office.jpg">
              <span class="card-title text-shadow">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Actividades -->
      <div class="row">
        <div class="col s12">
          <h4 class="blue-text text-darken-4 left"><strong>{{ 'home.activities' | translate }}</strong></h4>
          <a class="btn btn-more primary-color right">{{ 'more' | translate }}</a>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://archives.materializecss.com/0.100.2/images/office.jpg">
              <span class="card-title text-shadow">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://archives.materializecss.com/0.100.2/images/office.jpg">
              <span class="card-title text-shadow">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://archives.materializecss.com/0.100.2/images/office.jpg">
              <span class="card-title text-shadow">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside class="col m4">
      <div class="card-panel white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum optio nobis, accusantium quae quis totam eligendi tempora itaque voluptate, quasi sed nam necessitatibus ad sapiente. Dolorem suscipit amet praesentium natus.
      </div>
    </aside>
  </div>
</div>
